@charset "UTF-8";
.navigation {
  height: 70px;
  background: #262626;
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a, .brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a, nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
    width: 100%;
  }
  nav ul li {
    float: none;
    width: 100%;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
    width: 100%;
  }
  .nav-dropdown {
    position: static;
  }
  #firstnames label{
    margin-left: 15%;
  }
  #firstname{
    margin-left: 15%;
    width: 85%;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
  .firstnames{
    margin-left: 50%;
  }
  #firstnames{
    margin-left: 50%;
  }
  #firstname{
    margin-left: 25%;
  }
 

}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
.nav-logo{
  height: 4rem;
  width: 20%;
  border-radius: 50px;
}
.nav-logo img{
  width: 100%;
  height:4rem;
  border-radius: 50px;
  margin-top: 2%;
}
input{
  width: 50%;
  height: 5rem;
  border: 5px solid black;
}
#firstnames{
  margin-left: -17%;
}
.firstnames{
  margin-left: -17%;
}
#btn{
  width: 50%;
  font-size: 19px;
}

/* @media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
 
  #btn{
    width: 50%;
  }
}
@media screen and (max-width: 640px){
#btn{
  width: 100%;
}
} */
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
input{
    height:3rem;
}
.noti{
  width: 100%;
  height: 3rem;
  background-color: red;
  color: whitesmoke;
  text-align: center;
}
#alertmsg{
  font-size: 25px;
  color: black;
}
.delete{
  background-color: blue;
}
@media screen and (min-width: 640px) {
  .nav{
    width: 120%;
  }
  .nav-list a{
    width: 100%;
    border-radius: none;
    height: 4rem;
  }
  .firstnames{
    margin-left: 50%;
  }
  #firstnames{
    margin-left: 50%;
  }
  #firstname{
    margin-left: 25%;
  }
  
}