<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
    <div class="sidebar">
        <a href="">Logo</a>
        <a href="./dashboard.html"> Result</a>
        <a href="./school.html">School</a>
        <a href="#clients">Profile</a>
        <a href="/logout"><i class="fa-regular fa-arrow-up-left-from-circle"></i> Logout</a>
    </div>



    <div class="main">
        <h1>Result Checker </h1>
    <div class="part1">
        <h1>Put in your exam number <span class="star">**</span>  </h1>
        <input type="number" name="" id="">
<br>
        <button>submit</button>
    </div>
      </div>
      <div class="part2">
        <h3>Your Total score</h3>
        <h2 id="text1">maths <span id="score">50</span></h2>
        <h2 id="text1">maths <span id="score">50</span></h2>
        <h2 id="text1">maths <span id="score">50</span></h2>
        <h2 id="text1">maths <span id="score">50</span></h2>
        <h2 id="text1">maths <span id="score">50</span></h2>

      </div>
</body>
</html>